*{
    text-align: center;
}
.verd{
    background-color: rgb(0, 255, 0);
}

.icono img{
    width: 2rem;
}

.text{
    padding-top: 2rem;
    font-size: 3rem;
    padding-bottom: 2rem;
}

table{
    border-collapse: collapse;
}

.paginador{
    padding: 2rem 0;
}

th,td{
    border: 1px solid black;
    padding: 1rem;
}

.negre{
    background-color: rgb(31, 31, 31);
    color: white;
}

.negre h2{
    font-size: 2rem;
    padding: 2rem 0;
}

.form{
    padding: 2rem 0;
    font-size: 1.5rem;
}

.form select{
    width: 75%;
    height: 100%;
    font-size: 1.5rem;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-weight: bold;
}
button{
    margin-bottom: 2rem;
}

