.inicio{
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.flecha img{
    margin-top: 10rem;
    width: 5rem;
}

.text-img p{
    margin: 1rem 0;
    font-family: 'Open Sans', sans-serif;
}

.telefonia{
    background-color: #151617;
    color: white;
    padding: 4rem 0rem;
}

.telefonia h3{
    text-align: left;
}

.telefonia a{
    text-decoration: none;
    color: white;
}

.telefonia button{
    border: white 2px solid;
}

.cercle{
    background-color: blueviolet;
    border: 2px solid white;
    border-radius: 50%;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.cercle h3{
    text-align: center;
}

.ofertes img{
    width: 20rem;
    height: 15rem;
}

.ofertes{
    padding-top: 2rem;
}

.ofertes button{
    margin-top: 4rem;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}


main{
    text-align: center;
}

