.text{
    text-align: center;
    padding: 2rem 0;
}

.card-main{
    padding-right: 4rem;
    padding-left: 4rem;
}

.card{
    border: 1px rgb(201, 201, 201) solid;
    border-radius: 0.5rem;
    text-align: center;
    padding: 4rem 0;
    font-size: 1.2rem;
}

input{
    border-radius: 0.5rem;
    height: 2rem;
    border-color: blueviolet;
}

.card p{
    padding: 2rem 0;
}

.registre{
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 8rem;
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
  }
  
  @media only screen and (min-width: 768px) {
    /* For tablets and */

    .card-main{
        padding: 0;
    }
  }