h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
}

.titol-rep h3{
    margin-bottom: 2rem;
    color: blueviolet;
    font-size: 1.8rem;
    border-bottom: 2px solid blueviolet;
}

.detalls p{
    margin-left: 18rem;
    margin-top: 1rem;
}

.descripcio p{
    line-height: 2.5rem;
}

.fila{
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.ultima{
    border-bottom: 0;
}

.paginador{
    margin-top: 2rem;
    text-align: center;
}

.paginador img{
    width: 1rem;
}

.buscador{
    text-align: right;
}


.lupa img{
    margin-right: 9rem;
    margin-top: 0.1rem;
    width: 1.3rem;
}


