h2{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.borde-dreta{
    border-right: 1px solid black;
}

.borde-esquerre{
    border-left: 1px solid black;
}

.tasca{
    padding: 2rem;
}

.tasca img{
    border: 1px solid gray;
    border-radius: 0.5rem;
    float: right;
    margin-top: 0.5rem;
}

.tasca div{
    border: 2px gray solid;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-bottom: 3.5rem;
}

.tasca h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.tasca img{
    height: 2rem;
}

.nova-tasca{
    border:2px gray solid;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.nova-tasca h3{
    margin-bottom: 1rem;
}

.nova-tasca input{
    margin-top: 1.5rem;
}

.nova-tasca button{
    margin-top: 1rem;
    padding: 0.5rem;
}