.container-fluid {
    width: 100%;
  }
  
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /***
  *Dividim el total de la pantalla entre 12.   Cada tros és una columna:
  *100 / 12 columnes = 8.33%
  */
  
  .col-1 {
    flex: 8.33% 0;
  }
  .col-2 {
    flex: 16.66% 0;
  }
  .col-3 {
    flex: 25% 0;
  }
  .col-4 {
    flex: 33.33% 0;
  }
  .col-5 {
    flex: 41.66% 0;
  }
  .col-6 {
    flex: 50% 0;
  }
  .col-7 {
    flex: 58.33% 0;
  }
  .col-8 {
    flex: 66.66% 0;
  }
  .col-9 {
    flex: 75% 0;
  }
  .col-10 {
    flex: 83.33% 0;
  }
  .col-11 {
    flex: 91.66% 0;
  }
  .col-12 {
    flex: 100% 0;
  }
  
  [class*="col-"] {
    padding: 15px;
  }
  
  
  /** apartat responsive */
  
  @media only screen and (max-width: 600px) {
    /* For mobile phones */
    .row {
      flex-direction: column;
    }
    .container {
      width: 100%;
    }
    [class*="col-"] {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 768px) {
  /* For tablets */  
      .container {
        width: 750px;
      }
      .row {
          flex-direction: column;
        }
        .container {
          width: 100%;
        }
        [class*="col-"] {
          width: 100%;
        }  
    }
  
  @media only screen and (min-width: 769px) {
    .container {
      width: 750px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }